
.comments{
    margin: 100px 20px;
}

@media(max-width:776px) {
    .comments{
        margin: 50px 20px;
    }   
}

.comments .item{
    padding: 10px;
    cursor: move;
    text-align: center;
}

.comments .item svg{
    margin: 0 auto 10px;
    width: 42px;
    height: 42px;
    fill: var(--cyan)
}

.comments .item h5{
    text-transform: none;
    margin: 0 auto 5px;
    color: var(--gray-dark)
}

.comments .item blockquote{
    margin: 0 auto 30px;
    width: 50%;
    font-style: italic;
    font-size: 20px;
}

@media(max-width:776px) {
    .comments .item blockquote{
        width: 100%;
    }   
}

.comments .item time{
    display: block;
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 600;
    letter-spacing: 1px;
    color: var(--gray-dark)
}

.comments .owl-dots{
    text-align: center;
    margin: 20px 0
}

.comments .owl-dot span{
    display: inline-block;
    width: 22px;
    height: 20px;
    margin: 0 5px;
    background-image: url("data:image/svg+xml,%3Csvg fill='%23f4bf00' xmlns='http://www.w3.org/2000/svg' viewBox='0 0 576 512'%3E%3Cpath d='M528.1 171.5L382 150.2 316.7 17.8c-11.7-23.6-45.6-23.9-57.4 0L194 150.2 47.9 171.5c-26.2 3.8-36.7 36.1-17.7 54.6l105.7 103-25 145.5c-4.5 26.3 23.2 46 46.4 33.7L288 439.6l130.7 68.7c23.2 12.2 50.9-7.4 46.4-33.7l-25-145.5 105.7-103c19-18.5 8.5-50.8-17.7-54.6zM388.6 312.3l23.7 138.4L288 385.4l-124.3 65.3 23.7-138.4-100.6-98 139-20.2 62.2-126 62.2 126 139 20.2-100.6 98z'/%3E%3C/svg%3E");
}

.comments .owl-dot.active span{
    background-image: url("data:image/svg+xml,%3Csvg fill='%231e5c8a' xmlns='http://www.w3.org/2000/svg' viewBox='0 0 576 512'%3E%3Cpath d='M528.1 171.5L382 150.2 316.7 17.8c-11.7-23.6-45.6-23.9-57.4 0L194 150.2 47.9 171.5c-26.2 3.8-36.7 36.1-17.7 54.6l105.7 103-25 145.5c-4.5 26.3 23.2 46 46.4 33.7L288 439.6l130.7 68.7c23.2 12.2 50.9-7.4 46.4-33.7l-25-145.5 105.7-103c19-18.5 8.5-50.8-17.7-54.6zM388.6 312.3l23.7 138.4L288 385.4l-124.3 65.3 23.7-138.4-100.6-98 139-20.2 62.2-126 62.2 126 139 20.2-100.6 98z'/%3E%3C/svg%3E");
}