#copy{
    background:var(--gray-ultradark);
    padding: 5px 20px;
    align-items: center;
    justify-content: space-between;
    display: grid;
    grid-template-columns: 1fr 160px;
}

@media(max-width:776px) {
    #copy{
        grid-template-columns: 1fr 140px;
    }
}

@media(max-width:450px) {
    #copy{
        grid-template-columns: 1fr 120px;
    }
}


#copy ul{
    display: flex;
    align-items: center;
}

@media(max-width:776px) {
    #copy ul{
        flex-wrap: wrap;
        width: 140px;
    }
}

@media(max-width:450px) {
    #copy ul{
        flex-wrap: wrap;
        justify-content: center;
        width: 120px;
    }
}

#copy li{
    display: inline-block;
    margin: 0 5px;
}

#copy li svg{
    width: 16px;
    height: 16px;
}

@media(max-width:776px) {
    #copy li svg{
        width: 32px;
        height: 32px;
    }   
}

#copy p{
    margin: 0;
}