#footer{
    padding: 50px 20px;
    background: var(--gray-dark);
    color: var(--white);
    border-top: 5px solid var(--gray);
    text-align: right;
    display: flex;
    /* justify-content: flex-end; */
    justify-content: flex-start;
}

#footer-logo img{
    height: 45px;
    display: block;
    filter: invert();
    border-radius: 0;
}
/* 

#footer-desc{
    grid-area: footer-desc;
} */

