#lang-wrapper{
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: 4;
    background: rgba(0,0,0, .5);

    opacity: 0;
    animation: opacity .5s linear forwards;
    animation-delay: calc(.2s * var(--i));
}

#lang-wrapper.click{
    display: none;
}

#lang{
    position: fixed;
    bottom: 50%;
    left: 50%;
    z-index: 5;

    width: 140px;
    height: 140px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-flow: column;
    
    background: var(--white);
    padding: 5px 10px;
    border: 6px solid var(--cyan);
    text-align: center;
    border-radius: 50%;

    box-shadow: 0 0 10px rgba(111,111,111,.5);
    
    transition: .5s;
    transform: translate(-50%, -50%);

    opacity: 0;
    animation: opacity .5s linear forwards;
    animation-delay: calc(.2s * var(--i));
}

#lang.click{
    bottom: 30px;
    left: 30px;
    width: 70px;
    height: 70px;
    border-width: 3px;
    transform: translate(calc(100% - 90px), calc(100% - 50px));
}

#lang a{
    display: block;
    font-weight: 700;
    text-decoration: none;
    text-transform: uppercase;
}

#lang.click a{
    text-transform: none;
}

#lang.click a span{
    display: none;
}

#lang hr{
    border: 1px solid var(--cyan);
    width: 100%;
    margin: 5px
}

#lang.click hr{
    margin: 0 5px
}