.news-spoiler{
    position: relative;
    z-index: 1;
}

.news-spoiler::after{
    content: '';
    display: inline-block;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: -1;
    background: rgba(255,255,255,.5);
}

.news-spoiler .wrap{
    padding: 100px 0;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-gap: 30px;

}

@media(max-width:776px) {
    .news-spoiler .wrap{
        grid-template-columns: 1fr;
    }   
}



.news-spoiler .news{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-gap: 30px;
}

@media(max-width:450px) {
    .news-spoiler .news{
        grid-template-columns: 1fr;
    }   
}

.news-spoiler .news article{
    background: var(--white);
    padding: 10px;
    border-radius: 5px;
    display: grid;
    grid-template-columns: 1fr 1.5fr;
    grid-gap: 20px;
}

@media(max-width: 1200px) {
    .news-spoiler .news article{
        grid-template-columns: 1fr;
    }   
}

.news-spoiler .news article > a{
    background-size: cover!important;
    background-position: center center!important;
    border-radius: 5px;
    height: 120px;
}

.news-spoiler .desc{
    display: flex;
    flex-flow: column;
    justify-content: center;
}

@media(max-width: 1200px) {
    .news-spoiler .desc{
        justify-content: flex-start;
    }
}

.news-spoiler .news h3{
    line-height: 1;
    font-size: 22px;
    font-weight: 600;
    margin: 0 0 20px
}

.news-spoiler .news h3 a{
    text-decoration: none;
    color: var(--cyan-dark);
    transition: .5s;
}

.news-spoiler .news h3 a:hover{
    color: var(--cyan)
}



/* справа */
.news-spoiler .adds{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-gap: 30px;
    align-items: center;
    justify-content: space-between;
    align-items: stretch;
}

@media(max-width: 1200px) {
    .news-spoiler .adds{
        grid-template-columns: 1fr;
    }   
}

.news-spoiler .adds .adds-text{
    background: var(--cyan);
    color: var(--white);
    padding: 10px;
    border-radius: 5px;
}

.news-spoiler .adds .adds-image{
    background-size: cover!important;
    background-position: center!important;
    border-radius: 5px;
    height: 100%;
}

@media(max-width: 1200px){
    .news-spoiler .adds .adds-image{
        display: none;
    }
}

.news-spoiler .adds h2{
    font-size: 28px;
    position: relative;
    color: var(--white);
    font-weight: 500;
}

.news-spoiler .adds h2::before{
    content: '';
    display: inline-block;
    width: 56px;
    height: 4px;
    position: absolute;
    left: 0;
    bottom: -10px;
    background: var(--white);
    border-radius: 10px;
}
