
.parallax{
    padding: 100px 20px;
    text-align: center;
    position: relative;
}

@media(max-width:450px) {
    .parallax{
        padding: 50px 20px;
    }
}

.parallax::before{
    content: '';
    display: inline-block;
    position: absolute;
    top:0;
    left:0;
    bottom:0;
    right: 0;
    z-index: 1;
    background: rgba(0,0,0,.7)
}

.parallax p{
    color: var(--white);
    position: relative;
    z-index: 2;
    width: 50%;
    margin: 0 auto 26px;
    text-align: justify;
    font-size: 19px;
}

@media(max-width:776px) {
    .parallax p{
        width: 100%;
    }   
}

.parallax h1{
    position: relative;
    z-index: 2;
    color: var(--white);
}

@media(max-width:450px) {
    .parallax h1{
        font-size: 34px;
    }
}

.parallax h1::before{
    content: '';
    display: inline-block;
    width: 60px;
    height: 5px;
    position: absolute;
    left: calc(50% - 30px);
    bottom: -10px;
    background: var(--white);
    border-radius: 10px;
}

/* button */
.parallax a{
    display: block;
    width: 220px;
    padding: 10px 20px;
    background: var(--cyan-dark);
    color: var(--white);
    font-weight: 900;
    font-size: 14px;
    border-radius: 5px;
    text-align: center;
    margin: auto;
    text-transform: uppercase;
    text-decoration: none;
    letter-spacing: 1px;
    transition: .5s;
}

.parallax a:hover{
    color: var(--cyan-dark);
    background: var(--white);
}